---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Welcome to <span class="text-gradient">Astro</span></h1>

		<!-- <div>
		
			<br><br>

			<video id="video" class="video-js vjs-default-skin" preload="auto" crossorigin="true" controls width="120" height="120" controls>
				<source src='https://v.esn8.com:2009/20230125/jxICZYK1/index.m3u8' type='application/x-mpegURL'>
			</video>

			<input type="text" id="url" style="width:100%" value="https://v.esn8.com:2009/20230125/jxICZYK1/index.m3u8"> 
			<input type="button" id="btn" value="play">

			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
			<link href="https://cdnjs.cloudflare.com/ajax/libs/video.js/5.10.2/alt/video-js-cdn.css" rel="stylesheet">
			<script src="https://cdnjs.cloudflare.com/ajax/libs/video.js/5.10.2/video.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/videojs-contrib-hls/3.0.2/videojs-contrib-hls.js"></script> 

			<script is:inline>
			$(function() {
				console.log("ready")
				$("#btn").on("click", function(e) {
					console.log("ready",e)
					$("#video").html("<source src='"+ $("#url").val() +"' type='application/x-mpegURL'>");
					var ply = videojs("video");
					ply.play();
				});
			});
			
			</script>
		</div> -->
		

		<!-- <div>

			<div id="dplayer"></div>
			<script>
			import Hls from 'hls.js'
			import DPlayer from 'dplayer';

			const dp = new DPlayer({
				container: document.getElementById('dplayer'),
				live: false,
        		danmaku: false,
				autoplay: true,
				loop: true,
				screenshot: true,
				hotkey: true,
				preload: 'auto',
				video: {
					url: 'https://v.esn8.com:2009/20230125/jxICZYK1/index.m3u8',
					type: 'customHls',
                    customType: {
                        customHls: function (v, player) {
                            const hls = new Hls()
                  			hls.loadSource(v.src)
                            hls.attachMedia(v)
                        }
                    }
				}
			});

			dp.play()
			console.log(dp)
			</script>
		</div> -->

		<div>
			<div class="artplayer-app"></div>
			<script>
				import Artplayer from 'artplayer';
				import Hls from 'hls.js'
				function playM3u8(video, url, art) {
					if (Hls.isSupported()) {
						const hls = new Hls();
						hls.loadSource(url);
						hls.attachMedia(video);

						// optional
						art.hls = hls;
						art.once('url', () => hls.destroy());
						art.once('destroy', () => hls.destroy());
					} else if (video.canPlayType('application/vnd.apple.mpegurl')) {
						video.src = url;
					} else {
						art.notice.show = 'Unsupported playback format: m3u8';
					}
				}

		
				const art = new Artplayer({
					container: '.artplayer-app',
					url: 'https://v.esn8.com:2009/20230125/jxICZYK1/index.m3u8',
					type: 'm3u8',
					customType: {
						m3u8: playM3u8,
					},
				});
				console.log(art)
			</script>
		</div>



		<p class="instructions">
			To get started, open the directory <code>src/pages</code> in your project.<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
		</p>
		<!-- <ul role="list" class="link-card-grid">
			<Card
				href="https://docs.astro.build/"
				title="Documentation"
				body="Learn how Astro works and explore the official API docs."
			/>
			<Card
				href="https://astro.build/integrations/"
				title="Integrations"
				body="Supercharge your project with new frameworks and libraries."
			/>
			<Card
				href="https://astro.build/themes/"
				title="Themes"
				body="Explore a galaxy of community-built starter themes."
			/>
			<Card
				href="https://astro.build/chat/"
				title="Community"
				body="Come say hi to our amazing Discord community. ❤️"
			/>
		</ul> -->
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
